<div id="<%= dom_id university %>">
  <p>
    <strong>Name:</strong>
    <%= university.name %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= university.rank %>
  </p>

  <p>
    <strong>Photo:</strong>
    <img src=<%= university.photo %> alt=<%= university.name %>>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= university.zip %>
  </p>

  <p>
    <strong>State:</strong>
    <%= link_to university.state.state, university.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= university.city %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= university.program %>
  </p>

</div>
